html {
    background-color: #f4f4f4;
    /*Image by -https://www.facebook.com/OfficialOldSchoolRuneScape/photos/what-do-you-think-about-this-re-imagining-of-the-old-school-login-screen-it-was-/1006470002856164/?_rdr */
    background-image: url(../assets/images/dungeon.jpg);
    background-size: 1920px 1080px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #ccc;
    padding: 20px;
}

#game-container {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}

#section {
    position: relative;
    position: absolute;
    bottom: 1rem;
}

#easy, #medium, #hard {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    display: none;
}

button  {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.elements-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.element-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    background-color: #0e1018;
    text-align: center;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
}

/* Prevent image from showing during flip */
.element-card img {
    width: 100%;
    height: 80%;
    backface-visibility: hidden; 
}

.element-card p {
    margin-top: 10px;
}

.element-card:hover {
    transform: scale(1.1);
}

.element-card.flipped {
    transform: ;
}

#random-element {
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #0e1018;
    text-align: center;
}

#result {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}

#counter-list {
    width: auto;
}

@media screen and (max-width: 1600px),
       screen and (max-height: 880px) {
html {
    /*Image by -https://uk.pinterest.com/pin/284500901447091730/ */
    background-image: url(../assets/images/dungeon-mobile.jpg);
    background-size: 1700px 2500px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: #ccc;
}

button  {
    padding: 20px 40px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;

}
        
#game-container {
    max-width: 50%;
    height: auto;
    margin: auto;
}

.elements-container {
    display: ruby;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.element-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    background-color: #0e1018;
    text-align: center;
    transition: transform 0.3s ease;
    transform-style: preserve-3d; 
}

#section {
    position: relative;
    bottom: 1rem;
}

}

@media screen and (max-width: 760px) {
html {
    /*Image by -https://uk.pinterest.com/pin/284500901447091730/ */
    background-image: url(../assets/images/dungeon-mobile.jpg);
    background-size: 1700px 2500px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: #ccc;
}
        
#game-container {
    max-width: 80%;
    height: auto;
    margin: auto;
}

.elements-container {
    display: ruby;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.element-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: #0e1018;
    text-align: center;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
}

#section {
    position: relative;
    bottom: 1rem;
}

#random-element-title {
    font-size: 1rem;
    padding-top: 0.5rem;
}

#counter-list {
    width: 80%;
}


}